@font-face {
  font-family: 'Exo-2';
  src: url("../fonts/Exo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Exo-2';
  src: url("../fonts/Exo2-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Exo-2';
  src: url("../fonts/Exo2-Bold.ttf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-family: 'Exo-2';
  font-weight: 500;
  color: #FFFFFF;
  background-color: #26212C;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html, body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header-container {
  background-color: #121211;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121211;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__menu .header__nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu .header__nav:first-child {
  margin-left: 140px;
}

.header__menu .header__nav:last-child {
  margin-right: 140px;
}

.header__menu .header__logo .header-logo {
  width: 90px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

.main__profile {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__profile .profile__img {
  width: 15%;
}

.main__profile .profile__img .profile-photo {
  width: 100%;
}

.main__profile .character__players {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__profile .character__players .character {
  padding-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__profile .character__players .character .character__profile {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 25px;
}

.main__profile .character__players .character .character__profile:first-child {
  margin-top: 0;
}

.main__profile .character__players .social__network {
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__profile .character__players .social__network .nav-social {
  cursor: pointer;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 25px;
}

.main__profile .character__players .social__network .nav-social:first-child {
  margin-top: 0;
}

.main__profile .logo__team {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main__profile .logo__team .team-photo {
  width: 100%;
}

.main__profile .logo__team .new__team {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.main__trophies {
  margin-top: 50px;
  border: 5px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__trophies .title__trophies {
  margin-left: 30px;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 80px;
}

.main__trophies .title__team {
  margin-left: 30px;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 30px;
}

.main__trophies .trophies {
  margin-top: 30px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.main__trophies .trophies .img__trophies {
  width: 100%;
}

.main__trophies .team {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.main__trophies .team .logo__team {
  margin-left: 5px;
  width: 100%;
}

.main__trophies .team .logo__team:first-child {
  margin-left: 25px;
}

@media (max-width: 1600px) {
  .main {
    margin-left: 100px;
    margin-right: 100px;
  }
  .main__profile {
    margin-top: 50px;
  }
  .main__profile .character__players .character .character__profile {
    font-size: 32px;
  }
  .main__profile .character__players .social__network .nav-social {
    font-size: 32px;
  }
  .main__trophies .title__trophies {
    font-size: 32px;
    margin-top: 60px;
  }
  .main__trophies .title__team {
    font-size: 32px;
  }
}

@media (max-width: 1300px) {
  .header__menu .header__nav {
    font-size: 26px;
  }
  .header__menu .header__nav:first-child {
    margin-left: 100px;
  }
  .header__menu .header__nav:last-child {
    margin-right: 100px;
  }
  .header__menu .header__logo .header-logo {
    width: 70px;
  }
  .main {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main__profile .character__players .character .character__profile {
    font-size: 26px;
    margin-top: 20px;
  }
  .main__profile .character__players .social__network .nav-social {
    font-size: 26px;
    margin-top: 20px;
  }
  .main__profile .logo__team .new__team {
    font-size: 14px;
  }
  .main__trophies {
    border: 3px solid #FFFFFF;
  }
  .main__trophies .title__trophies {
    font-size: 26px;
    margin-top: 50px;
  }
  .main__trophies .title__team {
    font-size: 26px;
  }
  .main__trophies .trophies {
    width: 100px;
  }
  .main__trophies .team {
    width: 100px;
  }
}

@media (max-width: 970px) {
  .header__menu .header__nav {
    font-size: 22px;
  }
  .header__menu .header__nav:first-child {
    margin-left: 100px;
  }
  .header__menu .header__nav:last-child {
    margin-right: 100px;
  }
  .header__menu .header__logo .header-logo {
    width: 60px;
  }
  .main {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main__profile .character__players .character .character__profile {
    font-size: 20px;
    margin-top: 15px;
  }
  .main__profile .character__players .social__network .nav-social {
    font-size: 20px;
    margin-top: 15px;
  }
  .main__profile .logo__team .new__team {
    font-size: 12px;
  }
  .main__trophies {
    border: 3px solid #FFFFFF;
  }
  .main__trophies .title__trophies {
    font-size: 20px;
    margin-top: 30px;
  }
  .main__trophies .title__team {
    font-size: 20px;
  }
  .main__trophies .trophies {
    margin-top: 15px;
    width: 80px;
  }
  .main__trophies .team {
    margin-top: 15px;
    width: 80px;
  }
}

@media (max-width: 768px) {
  .header__menu .header__nav {
    font-size: 20px;
  }
  .header__menu .header__nav:first-child {
    margin-left: 50px;
  }
  .header__menu .header__nav:last-child {
    margin-right: 50px;
  }
  .header__menu .header__logo .header-logo {
    width: 50px;
  }
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main__profile .character__players .character .character__profile {
    font-size: 16px;
    margin-top: 10px;
  }
  .main__profile .character__players .social__network .nav-social {
    font-size: 16px;
    margin-top: 10px;
  }
  .main__profile .logo__team .new__team {
    font-size: 10px;
  }
  .main__trophies {
    border: 3px solid #FFFFFF;
  }
  .main__trophies .title__trophies {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .main__trophies .title__team {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 18px;
  }
  .main__trophies .trophies {
    margin-left: 20px;
    margin-top: 10px;
    width: 60px;
  }
  .main__trophies .team {
    margin-top: 10px;
    width: 60px;
  }
  .main__trophies .team .logo__team:first-child {
    margin-left: 15px;
  }
}

@media (max-width: 600px) {
  .header__menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__menu .header__nav {
    font-size: 16px;
  }
  .header__menu .header__nav:first-child {
    margin-left: 30px;
  }
  .header__menu .header__nav:last-child {
    margin-right: 30px;
  }
  .header__menu .header__logo .header-logo {
    margin-top: 5px;
    width: 40px;
  }
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main__profile .profile__img {
    width: 30%;
  }
  .main__profile .profile__img .profile-photo {
    width: 100%;
    max-width: 120px;
  }
  .main__profile .character__players {
    width: 70%;
  }
  .main__profile .character__players .character .character__profile {
    font-size: 16px;
    margin-top: 10px;
  }
  .main__profile .character__players .social__network {
    padding-right: 0px;
  }
  .main__profile .character__players .social__network .nav-social {
    font-size: 16px;
    margin-top: 10px;
  }
  .main__profile .logo__team {
    width: 100%;
    margin-top: 30px;
  }
  .main__profile .logo__team .team-photo {
    margin: 0 auto;
    width: 150px;
  }
  .main__profile .logo__team .new__team {
    font-size: 10px;
  }
  .main__trophies {
    margin-top: 30px;
    border: 3px solid #FFFFFF;
  }
  .main__trophies .title__trophies {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .main__trophies .title__team {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
  }
  .main__trophies .trophies {
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
  }
  .main__trophies .team {
    margin-top: 10px;
    width: 50px;
  }
  .main__trophies .team .logo__team:first-child {
    margin-left: 15px;
  }
}

@media (max-width: 480px) {
  .header__menu .header__nav {
    font-size: 14px;
  }
  .header__menu .header__logo .header-logo {
    margin-top: 10px;
    width: 30px;
  }
  .main__profile .profile__img {
    width: 30%;
  }
  .main__profile .profile__img .profile-photo {
    width: 100%;
    max-width: 100px;
  }
  .main__profile .character__players {
    width: 70%;
  }
  .main__profile .character__players .character .character__profile {
    font-size: 14px;
    margin-top: 10px;
  }
  .main__profile .character__players .social__network {
    padding-right: 0px;
  }
  .main__profile .character__players .social__network .nav-social {
    font-size: 14px;
    margin-top: 10px;
  }
  .main__profile .logo__team {
    width: 100%;
    margin-top: 30px;
  }
  .main__profile .logo__team .team-photo {
    margin: 0 auto;
    width: 110px;
  }
  .main__profile .logo__team .new__team {
    font-size: 10px;
  }
  .main__trophies {
    margin-top: 30px;
    border: 3px solid #FFFFFF;
  }
  .main__trophies .title__trophies {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .main__trophies .title__team {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  .main__trophies .trophies {
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
  }
  .main__trophies .team {
    margin-top: 10px;
    width: 40px;
  }
  .main__trophies .team .logo__team:first-child {
    margin-left: 10px;
  }
}
